<div class="container">
    <div class="w3-container w3-purple">
        <h6>Change datas</h6>
    </div>
    <br>
    <form class="w3-container">
        <label><b>Username</b></label>
        <input class="w3-input" type="text" value="{{this.user.username}}" disabled #username>
        <br/>
        <label><b>Old password</b></label>
        <input class="w3-input" type="password" #oldPassword>
        <br/>
        <label><b>New password</b></label>
        <input class="w3-input" type="password" #newPassword>
        <br/>
        <label><b>Repeat password</b></label>
        <input class="w3-input" type="password" #repeatPassword>
        <br/>
        <label><b>Email</b></label>
        <input class="w3-input" type="text" value="{{this.user.email}}" #email>
        <br/>
        <a class="btn w3-btn w3-teal w3-round-xlarge" (click)="change();">Change</a>
    </form>
</div>
<div id="modal" class="w3-modal">
  <div class="w3-modal-content w3-animate-top w3-card-4" style="width: 500px;">
    <header class="w3-container w3-teal"> 
      <span onclick="document.getElementById('modal').style.display='none'" 
      class="w3-button w3-display-topright">&times;</span>
      <h4>Successfuly edited</h4>
    </header>
    <div class="w3-container">
      <p>You are successfuly edited your datas!</p>
    </div>
    <div class="w3-container w3-border-top w3-padding-16 w3-teal">
      <span>Enjoy the application</span>
      <button onclick="document.getElementById('modal').style.display='none'" 
      type="button" class="w3-button w3-red w3-right w3-padding w3-hide-small w3-round-xlarge">Close</button>
    </div>
  </div>
</div>
