<div class="container">
  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey">
        <i class="fa fa-logout"></i>  Menu
    </button>
    <a (click)="logout();" class="tooltip w3-bar-item w3-right" style="cursor:pointer">
      <span class="tooltiptext">Logout   </span>
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;padding-top:3%;" id="mySidebar"><br>
    <div class="w3-container w3-row">
      <div class="w3-col s4">
          <img src="../../assets/images/logo.jpg" class="w3-circle w3-margin-right" style="width:70px">
      </div>
      <div class="w3-col s8 w3-bar">
          <span>Welcome, <strong>@{{user.username}}</strong></span><br>
      </div>
    </div>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block full-height">
      <a class="w3-bar-item w3-button w3-padding w3-animate-left" (click)="home();"><i class="fa fa-home fa-fw"></i>  Home</a>
      <a class="w3-bar-item w3-button w3-padding w3-animate-left" (click)="trees();"><i class="fas fa-sitemap"></i>  My family trees</a>
      <a class="w3-bar-item w3-button w3-padding w3-animate-left"><i class="fa fa-user-tie fa-fw"></i>  Add new person</a>
      <a class="w3-bar-item w3-button w3-padding w3-animate-left"><i class="fa fa-child fa-fw"></i>  Add new child</a>
      <a class="w3-bar-item w3-button w3-padding w3-animate-left"><i class="fas fa-user-friends"></i>  Add new sibling</a>
      <a class="w3-bar-item w3-button w3-padding w3-animate-left"><i class="fa fa-venus-mars fa-fw"></i>  Add new spouse</a>
      <a class="w3-bar-item w3-button w3-padding w3-animate-left"><i class="fa fa-users fa-fw"></i>  Add new parent</a>
    </div>
    <hr>
    <div class="w3-bar-block">
      <a class="w3-bar-item w3-button w3-padding w3-animate-left" (click)="settings();"><i class="fa fa-pencil-alt fa-fw"></i>  Change my datas</a><br><br>
    </div>
  </nav>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main full-height" style="margin-left:300px; background: url('../../assets/images/tree.jpg') no-repeat center; 
                                          padding-top:5%; height: 600px; padding-left: 1%; padding-right: 1%;" #homes>
    <!--
    <div class="w3-panel" style="">
     
      <div id="home" class="w3-animate-right" [hidden]="homeHidden" style="height: 600px;"></div>
      <div [hidden]="treeHidden">
        <app-trees></app-trees>
      </div>
      <div id="userProfile" class="w3-animate-right" [hidden]="userProfileHidden">
        <app-user-data></app-user-data>
      </div>
   
    </div>
     -->
  </div>

</div>


