<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" #user>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" #pass>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign in" (click)="login()">
				</div>
				<div class="hr"></div>
			</div>
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" #username>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" #password>
				</div>
				<div class="group">
					<label for="pass" class="label">Repeat Password</label>
					<input id="pass" type="password" class="input" data-type="password" #repeat>
				</div>
				<div class="group">
					<label for="pass" class="label">Email Address</label>
					<input id="pass" type="text" class="input" #email>
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign Up" (click)="signUp()">
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4" style="width: 500px;">
      <header class="w3-container w3-aqua"> 
        <span onclick="document.getElementById('id01').style.display='none'" 
        class="w3-button w3-display-topright">&times;</span>
        <h4>Successfuly registration</h4>
      </header>
      <div class="w3-container">
        <p>Hi!</p>
        <p>You are successfuly registrated!</p>
      </div>
      <footer class="w3-container w3-aqua">
        <p>Enjoy in application!</p>
      </footer>
    </div>
  </div>
<br/>
<br/>
<a [routerLink]="" (click)="test()">Test</a>

